body {
  background-color: #00329b;
  text-align: center;
  color: white;
  font-size: 2rem;
}

button {
  background-color: purple;
  color: white;
  border: 0;
  padding: 0.5rem;
  border-bottom: white 2px solid;
  border-radius: 3rem;
  border-color: tomato;
  font-size: 2rem;
}

.board {
  min-height: 100vh;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#app {
  display: flex;
}

#number {
  background-color: #001367;
  
}

#star {
  background-color: #eebb05;
}